<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <!--meta used for website modification (e.g. adjusts board dependent on user's screen size)-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- style for table. Bootstrap framework used to make html page style fancy. Twitter front end. -->
  <style>
   .table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
    height: 33.33333vh;
    align-items: center;
}
 </style>

  {% if title %}
  <title>Tic Tac Toe - {{ title }}</title>
  {% else %}
  <title>Tic Tac Toe</title>
  {% endif %}
</head>
<body><!--"bootstrap documentation"-->
<!--links for navigation bar below-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- creates navigation bar at the top of the page-->
    <a class="navbar-brand" href="#">Tic Tac Toe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <!-- button class makes the buttons. Navbar is default framework from bootstraps.-->
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText"> <!--when screen size gets too small, navigation bar collapses as well.-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("index") }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("about_us") }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("reset")}}">Reset</a> <!--refreshes game-->
        </li>
      </ul>
      <span class="navbar-text">
        For CS-043-T001
      </span>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <!--allows us to access javascript bootstrap framework below-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
